section.about {
  position: relative;

  dialog {
    opacity: 0.94;
    border-radius: 2em;
    .dialog-container {
      button {
      }
    }
  }

  .about-container {
    // height: fit-content;

    @include for-normal-layout {
      display: flex;
      gap: 4rem;
      height: 80%;
    }
    .about-details-container {
      flex: 1;
    }

    img {
      border-radius: 2rem;
    }

    .about-containers {
      flex-wrap: wrap;
      gap: 2rem;
      margin-block: 2rem;

      .details-container {
        padding: 1.5rem;
        flex: 1;
        background: $clr-light1;
        background: inherit;
        border-radius: 2rem;
        border: $clr-dark2 0.1rem solid;
        border-color: rgb(163, 163, 163);
        text-align: center;

        span.certificate {
          font-weight: 600;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
