section.contact {
  height: 32vh;
  padding-top: 0;
  @include for-narrow-layout {
    height: fit-content;
  }
  @include for-normal-layout {
    height: 70vh;
  }
  .contact-info-upper-container {
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 2em auto;
    padding: 0.5em;
    border-radius: 2em;
    border: 0.1em solid rgb(163, 163, 163);

    .contact-info-container {
      gap: 0.5em;
      @include for-narrow-layout {
        margin: 1em;
      }

      p {
        font-size: 1rem;
        @include for-normal-layout {
          font-size: larger;
        }
      }
    }
  }
}
