section.contact {
  height: 40vh;
  @include for-narrow-layout {
    height: fit-content;
  }
  @include for-normal-layout {
    height: 70vh;
  }
  .contact-info-upper-container {
    flex-wrap: wrap;
    gap: .5rem;
    margin: 2rem auto;
    padding: 0.5rem;
    border-radius: 2rem;
    border: 0.1rem solid rgb(163, 163, 163);

    .contact-info-container {
      gap: 0.5rem;
      @include for-narrow-layout {
        margin: 1rem;
      }

      p {
        font-size: 1rem;
        @include for-normal-layout {
          font-size: larger;
        }
      }
    }
  }
}
