section.experience {
  position: relative;
  margin-block-start: 2em;
  @include for-normal-layout {
    margin-block-start: 0;
  }

  .experience-containers {
    flex-wrap: wrap;
    gap: 2em;
    margin-block: 2em;
    .experience-container {
      flex: 1;
      padding: 1.5em;
      border-radius: 2em;
      border: $clr-dark2 0.1em solid;
      border-color: rgb(163, 163, 163);
      text-align: center;

      h2.experience-sub-title {
        margin-block-end: 1em;
        font-size: 1.75rem;
        font-weight: 600;
      }

      .experience-article-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
        text-align: initial;

        @include for-narrow-layout {
          gap: 2.5em;
        }

        article.experience-article {
          width: 10em;
          gap: 0.5em;

          img {
            cursor: default;
          }
        }
      }
    }
  }
}
