section.hero {
  justify-content: center;
  gap: 5rem;
  height: 80vh;

  img {
    border-radius: 50%;
  }

  .section-text {
    align-self: center;
    text-align: center;

    p {
      font-weight: 600;
    }
  }

  .socials-container {
    gap: 1rem;
    margin-block-start: 1rem;
  }
}
