section.hero {
  @include for-normal-layout {
    display: flex;
    justify-content: center;
    gap: 5em;
  }

  height: 92vh;
  padding-top: 20vh;

  @include for-normal-layout {
    padding-top: 4vh;
  }

  .pic-container {
    position: relative;

    .draggable-div {
      position: absolute;
      top: -2%;
      left: 23%;
      width: 54%;
      height: calc(46vw + 5%);
      border-radius: 50%;
      backdrop-filter: blur(15px);
      cursor: pointer;

      &:active {
        cursor: grabbing;
      }

      @include for-narrow-layout {
        top: -2%;
        left: -3%;
        width: 105%;
        height: 105%;
      }
    }

    img {
      border-radius: 50%;
    }
  }

  .section-text {
    align-self: center;
    text-align: center;

    p {
      font-weight: 600;
    }
  }

  .socials-container {
    gap: 1em;
    margin-block-start: 1em;
  }
}
