section.projects {
  position: relative;

  .projects-article-container {
    flex-wrap: wrap;
    gap: 2em;
    margin-block: 2em;

    .article-container {
      padding: 1.5em;
      flex: 1;
      border-radius: 2em;
      border: 0.1em solid rgb(163, 163, 163);
      text-align: center;

      .img-contianer {
        img {
          width: 90%;
          height: 90%;
          border-radius: 2em;
        }
      }

      h2.project-title {
        margin-block: 1em;
        font-size: 1.75rem;
        font-weight: 600;
        max-height: 44px;
        text-overflow: ellipsis;
        overflow:hidden;
      }

      .btn-container {
        a {
          border-color: rgb(163, 163, 163);
        }
      }
    }
  }
}
