*,
*::before,
*::after {
  box-sizing: border-box;
}

// :root {
//   color-scheme: light dark;
// }

::selection {
  background-color: $clr-selection;
  color: $clr-dark1;
}

html {
  scroll-behavior: smooth;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

/* Set base font size and line height */
body {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: $clr-dark1;
  background-color: $clr-light1;
  // background-color: grey; /*temp */
}

a {
  color: $clr-dark1;
  text-decoration: none;
  text-decoration-color: $clr-light1;

  &:hover {
    color: $clr-dark4;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: $clr-dark5;
    cursor: pointer;
  }
}

a,
.btn {
  transition: all 300ms ease;
}

p {
  color: $clr-dark3;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Remove default button styling */
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
}

/* Remove default button styles in Firefox */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Reset some default values that can vary between browsers */
input {
  overflow: visible;
}

/* Reset table border spacing and border-collapse */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set max-width: 100% to make images responsive */
img {
  max-width: 100%;
  height: auto;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 100vh;
  min-height: fit-content;

  .title {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
  }

  .pic-container {
    display: flex;
    height: 400px;
    min-width: 400px;
    margin: auto 0;
  }

  .section-text-p1 {
    text-align: center;
  }

  .section-text-p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1em;
  width: 10em;
  border-radius: 2em;

  &.btn-color-1 {
    color: $clr-light1;
    background: $clr-dark2;

    &:hover {
      background: $clr-dark1;
    }
  }

  &.btn-color-2 {
    background: none;

    &:hover {
      color: $clr-light1;
      background: $clr-dark2;
      border: 0.1rem solid $clr-light1;
    }
  }

  &.btn-color-1,
  &.btn-color-2 {
    border: 0.1rem solid $clr-dark2;

    &:hover {
      cursor: pointer;
    }
  }
}

/* ICON */

.icon {
  height: 2rem;
  cursor: pointer;

  &.default {
    cursor: default;
  }

  &.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
  }
}
