$colors: (
  clr-dark1: rgb(0, 0, 0),
  clr-dark2: rgb(53, 53, 53),
  clr-dark3: rgb(85, 85, 85),
  clr-dark4: rgb(128, 128, 128),
  clr-dark5: rgb(181, 181, 181),
  clr-light1: rgb(255, 255, 255),
  clr-light2: rgb(250, 250, 250),
  clr-selection: rgb(236, 255, 196),
);

$colors-dark: (
  clr-dark1: invert($clr-dark1),
  clr-dark2: invert($clr-dark2),
  clr-dark3: invert($clr-dark3),
  clr-dark4: invert($clr-dark4),
  clr-dark5: invert($clr-dark5),
  clr-light1: invert($clr-light1),
  clr-light2: invert($clr-light2),
  clr-selection: invert($clr-selection),
);

// $colors-dark: (
//   clr-dark1: map-get($colors, invert($clr-dark1)),
//   clr-dark2: map-get($colors, invert($clr-dark2)),
//   clr-dark3: map-get($colors, invert($clr-dark3)),
//   clr-dark4: map-get($colors, invert($clr-dark4)),
//   clr-dark5: map-get($colors, invert($clr-dark5)),
//   clr-light1: map-get($colors, invert($clr-light1)),
//   clr-light2: map-get($colors, invert($clr-light2)),
//   clr-selection: map-get($colors, invert($clr-selection)),
// );

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
  --theme: 'light';
}

@media (prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $colors-dark {
      --color-#{$name}: #{$color};
    }
    --theme: 'dark';
  }
}
