// COLOR PALETTE
$clr-dark1: #000;
$clr-dark2: #353535;
$clr-dark3: #555555;

$clr-light1: #fff;
$clr-light2: #fafafa;

$clr-selection: #ecffc4;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-mobile: 600px;
$break-normal: 1200px;
$break-wide: 1400px;
