// COLOR PALETTE
$clr-dark1: rgb(0, 0, 0);
$clr-dark2: rgb(53, 53, 53);
$clr-dark3: #555555;
$clr-dark4: #808080;
$clr-dark5: #b5b5b5;

$clr-light1: #fff;
$clr-light2: #fafafa;

$clr-selection: #ecffc4;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-mobile: 1200px;
$break-normal: 1200px;
$break-wide: 1400px;
