$clr-dark1: rgb(255, 255, 255);
$clr-dark2: rgb(202, 202, 202);
$clr-dark3: rgb(170, 170, 170);
$clr-dark4: rgb(127, 127, 127);
$clr-dark5: rgb(74, 74, 74);

$clr-light1: rgb(0, 0, 0);
$clr-light2: rgb(5, 5, 5);

$clr-selection: rgb(19, 0, 59);
