// COLOR PALETTE
$clr-dark1: rgb(0, 0, 0);
$clr-dark2: rgb(53, 53, 53);
$clr-dark3: rgb(85, 85, 85);
$clr-dark4: rgb(128, 128, 128);
$clr-dark5: rgb(181, 181, 181);

$clr-light1: rgb(255, 255, 255);
$clr-light2: rgb(250, 250, 250);

$clr-selection: rgb(236, 255, 196);

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-mobile: 600px;
$break-normal: 1280px;
$break-wide: 1400px;
